body {
  background-color: #000000;
  color: #ffffff;
  font-family: Times New Roman, serif;
}

header, footer {
  text-align: center;
  background-color: #000000;
  padding: 10px;
  border-top: 2px solid #0e7518;
  border-bottom: 2px solid #0e7518;
}

header h1, footer p {
  color: #ffffff;
}

.header-gif {
    width: 50px;  /* adjust as needed */
    height: 50px;  /* adjust as needed */
}

main {
  display: flex;
}

.left-column {
  background-color: #000000;
  color: #ffffff;
  width: 20%;
  padding: 20px;
  border-right: 2px solid #ffffff;
  font-size: 80%;
  font-family: Times New Roman, serif;
  text-align: justify;
}

.right-column {
  background-color: #000000;
  color: #ffffff;
  width: 75%;
  padding: 20px;
}
