body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

header, footer {
  text-align: center;
  background-color: #008000;
  color: #ffffff;
  padding: 10px;
}

main {
  margin: 20px;
}
